<!doctype html>
<html>

<head>
   <meta charset="utf-8">
   <!-- Responsive -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{{title}} - {{@defaultPageTitle}}</title>
   <!-- Main Stylesheet File -->
   <link type="text/css" rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" />
   <link type="text/css" rel="stylesheet" href="/stylesheets/css/styles.css" />
   <link type="text/css" rel="stylesheet" href="/stylesheets/css/navbar.css" />
   <link type="text/css" rel="stylesheet" href="/stylesheets/css/flaticon.css" />
   <link type="text/css" rel="stylesheet" href="/stylesheets/css/font-awesome.css" />
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
   <!-- owl.carousel - slick-carousel-->
   <link rel="stylesheet" type="text/css" href="/stylesheets/css/owl.carousel.min.css" />
   <link rel="stylesheet" type="text/css" href="/stylesheets/css/slick.css" />
   <!-- Slider Revolution CSS Files -->
   <link rel="stylesheet" type="text/css" href="/revolution/css/settings.css">
   <link rel="stylesheet" type="text/css" href="/revolution/css/layers.css">
   <link rel="stylesheet" type="text/css" href="/revolution/css/navigation.css">
   <!--Favicon-->
   <link rel="shortcut icon" href="/images/icon.ico" type="/images/x-icon">
   <link rel="icon" href="/images/icon.ico" type="/images/x-icon">
</head>

<body class="page-wrapper header-sticky header-v6 hide-topbar-mobile header-sticky home-6">
   <div class="preloader" id="preloader"></div>
   <!------------preloder----------------->
   <!----body--->
   <div id="page" class="site">
      <!-- masthead -->
      {{> clothes/header}}
      <!-- masthead end -->
      <div class="main-content">
         {{!-- Flash message --}}
         {{> msg}}

         <!--Start Dashboard Content-->
         {{{body}}}
         <!--End Dashboard Content-->
         <!---footer------footer-last---->

         <!--Start footer-->
         {{> clothes/footer}}
         <!--End footer-->

      </div>
      <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-arrow-up"></i></a>
      <!---main-content-end--->
   </div>
   <!---end-of-header-sticky--->
   <!--primary-mobile-nav-->
   {{> clothes/mobile}}
   <!--primary-mobile-nav end-->

   <!----------product-quick-view-sample------------->
   {{{block "extras"}}}
   <!----------product-quick-view-sample------------->
   <!---default-script--->
   <script src="/javascripts/js/jquery-3.3.1.min.js"></script>
   <script src="/javascripts/js/bootstrap.min.js"></script>
   <!---navbar--->
   <script src="/javascripts/js/nav-scripts.min.js"></script>
   <!-- Core jQuery Script -->
   <script src="/javascripts/js/jquery.js"></script>
   <!---Slider Revolution core JavaScript files ---->
   <script src="/revolution/js/jquery.themepunch.tools.min.js"></script>
   <script src="/revolution/js/jquery.themepunch.revolution.min.js"></script>
   <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING-->
   <script src="/revolution/js/extensions/revolution.extension.actions.min.js"></script>
   <script src="/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
   <script src="/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
   <script src="/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
   <script src="/revolution/js/extensions/revolution.extension.migration.min.js"></script>
   <script src="/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
   <script src="/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
   <script src="/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
   <script src="/revolution/js/extensions/revolution.extension.video.min.js"></script>
   <!-- Custom -->
   <script src="/javascripts/js/custom.js"></script>
   <!---owl-carousel-->
   <script src="/javascripts/js/owl.carousel.js"></script>
   <!---smooth-scrool-->
   <script src="/javascripts/js/SmoothScroll.min.js"></script>
   <!------video----------->
   <script src="/javascripts/js/html5lightbox.js"></script>
   <!-- preload js -->
   <script src="/javascripts/js/preload.js"></script>
</body>

</html>