<div class="footer">
   <div class=" container">
      <div class="row">
         <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <div class="heading">
               <h2>Online Store</h2>
            </div>
            <div class="footer-menu">
               <ul>
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping Cart</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <div class="heading">
               <h2>Shop by Category</h2>
            </div>
            <div class="footer-menu">
               <ul>
                  <li><a href="#">Taday’s Deals</a></li>
                  <li><a href="#">Best Sellers</a></li>
                  <li><a href="#">New Arrivals</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <div class="heading">
               <h2>Support and Service</h2>
            </div>
            <div class="footer-menu">
               <ul>
                  <li><a href="#">Customer Service</a></li>
                  <li><a href="#">Product Recalls</a></li>
                  <li><a href="#">FAQ</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <div class="heading">
               <h2>Partnerships</h2>
            </div>
            <div class="footer-menu">
               <ul>
                  <li><a href="#">Affiliate Program</a></li>
                  <li><a href="#">Advertise with Us</a></li>
                  <li><a href="#">Business</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <div class="heading">
               <h2>Customer Care</h2>
            </div>
            <div class="footer-menu">
               <ul>
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Shop</a></li>
                  <li><a href="#">Wishlist</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <div class="heading">
               <h2>About Us</h2>
            </div>
            <div class="footer-menu">
               <ul>
                  <li>
                     <a href="#">
                        Company info</a>
                  </li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Policies</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="footer-last">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <ul>
               <li> <a><i class="fab fa-facebook"></i></a></li>
               <li> <a><i class="fab fa-instagram"></i></a></li>
            </ul>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <ul class="right">
               <li><a><i class="fas fa-globe-asia"></i> Okandeji</a></li>
               <li><a>Privacy Policy</a></li>
               <li><a>Terms & Conditions</a></li>
            </ul>
            <p class="right">&copy; 2019 <a href="/">CPrinting</a> All Rights Reserved.</p>
            <span> Designed by <a href="#">Okandeji</a></span>
         </div>
      </div>
   </div>
</div>