<!-- masthead -->
<header id="masthead" class="site-header clearfix">
   <div class="header-main">
      <div class="container">
         <div class="row">
            <div class="site-logo col-md-2 col-sm-6 col-xs-6">
               <a href="#" class="logo">
                  <img src="/images/fatai.png" class=" show-logo" style="size: auto; width: 2.5em;border-radius: 2em;"
                     alt="logo" />
               </a>
            </div>
            <div class="site-menu col-lg-8 col-md-10 col-sm-6 col-xs-6">
               <div class="navbar-toggle toggle-navs">
                  <a href="#" class="navbars-icon selected-mobile">
                     <i class="fa fa-bars" aria-hidden="true"></i>
                  </a>
               </div>
               <nav id="site-navigation" class="main-nav primary-nav nav ">
                  <ul id="primary-menu" class="menu text-center">
                     <li class="dropdown-item current-menu-item">
                        <a href="/">Home</a>
                     </li>
                     <li class="dropdown-item">
                        <a href="#">Services</a>
                     </li>
                     <li class="dropdown-item">
                        <a href="#">Contact Us</a>
                     </li>
                     <li class="dropdown-item">
                        <a href="#">About Us</a>
                     </li>
                  </ul>
               </nav>
            </div>
            <div class="col-lg-2 col-md-2 menu-content-right-outer">
               <ul class="menu-content-right">
                  <li class="extra-menu-item dropdown search-drop">
                     <a href="#"><span class="flaticon-search"></span></a>
                     <ul class="dropdown-content">
                        <li>
                           <div id="pattern" class="pattern">
                              <form role="search" method="get" class="f" action="#">
                                 <label class="is-vishidden">Search the site</label>
                                 <input type="search" placeholder="Search the site">
                                 <button type="submit" class="btn search-submit">Go</button>
                              </form>
                           </div>
                        </li>
                     </ul>
                  </li>
                  <li class="extra-menu-item dropdown cart-dropdown ">
                     <a href="/shopping-cart" class="top_hub_cart">
                        <span class="fa fa-shopping-cart"></span>
                        <span class="badge">{{session.cart.totalQty}}</span>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</header>
<!-- masthead end -->