<!-- masthead -->
         <header id="masthead" class="site-header clearfix">
            <div class="header-main">
               <div class="container">
                  <div class="row">
                     <div class="site-logo col-md-2 col-sm-6 col-xs-6">
                        <a href="index.html" class="logo">
                        <img src="" class=" show-logo" alt="logo" />
                        </a>
                     </div>
                     <div class="site-menu col-lg-8 col-md-10 col-sm-6 col-xs-6">
                        <div class="navbar-toggle toggle-navs">
                           <a href="#" class="navbars-icon selected-mobile">
                           <i class="fa fa-bars" aria-hidden="true"></i>
                           </a>
                        </div>
                        <nav id="site-navigation" class="main-nav primary-nav nav ">
                           <ul id="primary-menu" class="menu text-center">
                              <li class="dropdown-item current-menu-item">
                                 <a href="#">Home</a>
                                 <ul class="sub-menu">
                                    <li><a href="index.html"> Home Classic</a></li>
                                    <!--<li><a href="home-page-2.html">Home Modern</a></li>
                                    <li><a href="home-page-3.html">Home Clean</a></li>-->
                                    <li><a href="home-page-4.html">Home Categories</a></li>
                                    <li><a href="home-page-5.html">Home Collections</a></li>
                                    <li><a href="home-page-6.html">Home Lookbook</a></li>
                                    <li><a href="home-page-7.html">Home Paralax</a></li>
                                    <li><a href="home-page-8.html">Home Fullslider</a></li>
                                    <li><a href="home-page-9.html">Home Minimal</a></li>
                                    <li><a href="home-page-10.html">Home Instagram</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-item">
                                 <a href="#">Shop</a>
                                 <ul class="sub-menu megamenu">
                                    <li class="mega">
                                       <div class="row">
                                          <div class="col-menu col-md-3">
                                             <h6 class="title">Shop Pages</h6>
                                             <ul>
                                                <li><a href="shop-default.html">Shop Default</a></li>
                                                <li><a href="shop-3column.html">Shop 3 column</a></li>
                                                <li><a href="shop-5-column.html">Shop 4 column</a></li>
                                                <li><a href="shop-5-column.html">Shop 5 column</a></li>
                                                <li><a href="shop-6-column.html">Shop 6 column</a></li>
                                                <li><a href="shop-with-side-bar.html">Shop with side-bar</a></li>
                                                <li><a href="shop-list-items.html">Shop List Items</a></li>
                                             </ul>
                                          </div>
                                          <!-- end col-3 -->
                                          <div class="col-menu col-md-3">
                                             <h6 class="title">product Pages</h6>
                                             <ul>
                                                <li><a href="shop-detail-product-affiliate.html">Shop detail affiliate</a></li>
                                                <li><a href="shop-detail-product-bundle.html">Shop detail  bundle </a></li>
                                                <li><a href="shop-detail-product-grouped.html">Shop detail grouped</a></li>
                                                <li><a  href="shop-detail-product-hot.html">Shop detail hot </a></li>
                                                <li><a href="shop-detail-product-default.html">Shop detail default</a></li>
                                                <li><a href="shop-detail-product-new.html">Shop detail new</a></li>
                                                <li><a href="shop-detail-product-sale.html">Shop detail sale</a></li>
                                                <li><a href="shop-detail-product-variable.html">Shop detail variable</a></li>
                                                <li><a href="shop-detail-product-video.html">Shop detail video</a></li>
                                                <li><a href="shop-detail-product-outstock.html">Shop detail outofstock</a></li>
                                             </ul>
                                          </div>
                                          <!-- end col-3 -->
                                          <div class="col-menu col-md-2">
                                             <h6 class="title">Title Menu Three</h6>
                                             <ul>
                                                <li><a href="my-account.html">My Account</a></li>
                                                <li><a href="shop-cart.html">Shop cart</a></li>
                                                <li><a href="shop-checkout.html">Shop checkout</a></li>
                                                <li><a href="shop-wishlist.html">Shop wishlist</a></li>
                                                <li><a href="shop-compare.html">Compare</a></li>
                                                <li><a href="shop-order-tracking.html">Shop order tracking</a></li>
                                                <li><a href="news-steller.html">Popup Newsletter</a></li>
                                             </ul>
                                          </div>
                                          <div class="col-menu last col-md-4">
                                             <div class="owl-carousel owl-theme header-carousel">
                                                <div class="item">
                                                   <div class="content-inner-mega text-center">
                                                      <h2>A beautiful design, made  identical to the original</h2>
                                                      <a href="#">Discover now</a>
                                                   </div>
                                                   <div class="image">
                                                      <img src="" class="img-responsive" alt="img" />
                                                   </div>
                                                </div>
                                                <div class="item">
                                                   <div class="content-inner-mega text-center">
                                                      <h2>A beautiful design, made  identical to the original</h2>
                                                      <a href="#">Discover now</a>
                                                   </div>
                                                   <div class="image">
                                                      <img src="" class="img-responsive" alt="img" />
                                                   </div>
                                                </div>
                                                <div class="item">
                                                   <div class="content-inner-mega text-center">
                                                      <h2>A beautiful design, made  identical to the original</h2>
                                                      <a href="#">Discover now</a>
                                                   </div>
                                                   <div class="image">
                                                      <img src="" class="img-responsive" alt="img" />
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <!-- end col-3 -->
                                       </div>
                                       <!-- end row -->
                                    </li>
                                 </ul>
                              </li>
                              <li class="dropdown-item">
                                 <a href="#">Blog</a>
                                 <ul class="sub-menu">
                                    <li><a href="blog-default.html">Blog Default</a></li>
                                    <li><a href="blog-listview.html">Bloglist view</a></li>
                                    <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                    <li><a href="blog-4-columns.html">Blog 4 columns</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-item">
                                 <a href="#">Protfolio</a>
                                 <ul class="sub-menu">
                                    <li><a href="protfolio-boxgrid.html">Portfolio Boxed grid</a></li>
                                    <li><a href="protfolio-flatgrid.html">Portfolio Flat grid</a></li>
                                    <li><a href="protfolio-manasory.html">Portfolio Manasory</a></li>
                                    <li><a href="protfolio-metro.html">Portfolio Metro</a></li>
                                    <li><a href="protfolio-detail-v1.html">Portfolio Detail Page 1</a></li>
                                    <li><a  href="protfolio-detail-v2.html">Portfolio Detail Page 2</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-item">
                                 <a href="#">Pages</a>
                                 <ul class="sub-menu">
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="comming-soon.html">Coming Soon</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-item">
                                 <a href="#">Contact</a>
                                 <ul class="sub-menu">
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="404.html">Contact 404</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </nav>
                     </div>
                     <div class="col-lg-2 col-md-2 menu-content-right-outer">
                        <ul class="menu-content-right">
                           <li class="extra-menu-item dropdown search-drop">
                              <a href="#"><span class="flaticon-search"></span></a>
                              <ul class="dropdown-content">
                                 <li>
                                    <div id="pattern" class="pattern">
                                       <form role="search" method="get" class="f" action="#">
                                          <label class="is-vishidden">Search the site</label>     
                                          <input type="search" placeholder="Search the site">
                                          <button type="submit" class="btn search-submit">Go</button>
                                       </form>
                                    </div>
                                 </li>
                              </ul>
                           </li>
                           <li class="extra-menu-item dropdown cart-dropdown ">
                              <a href="#" class="top_hub_cart">
                              <span class="flaticon-cart"></span>
                              </a>
                              <ul class="dropdown-content shopping-drop-down-cart">
                                 <li>
                                    <div class="cart-dropdown">
                                       <div class="cart-dropdown-inner">
                                          <div class="cart-in clearfix">
                                             <div class="image">
                                                <img src="" class="img-responsive" alt="img" />
                                             </div>
                                             <div class="content">
                                                <h2>Eames Elephant</h2>
                                                <p>QTY: 1</p>
                                                <span>125.00 USD</span>
                                             </div>
                                             <div class="close-product">
                                                <span class="flaticon-close"></span>
                                             </div>
                                          </div>
                                          <div class="cart-in clearfix">
                                             <div class="image">
                                                <img src="images/home-6-ban-2.jpg" class="img-responsive" alt="img" />
                                             </div>
                                             <div class="content">
                                                <h2>Eames Elephant</h2>
                                                <p>QTY: 1</p>
                                                <span>125.00 USD</span>
                                             </div>
                                             <div class="close-product">
                                                <span class="flaticon-close"></span>
                                             </div>
                                          </div>
                                          <div class="cart-in clearfix">
                                             <div class="image">
                                                <img src="images/home-6-ban-3.jpg" class="img-responsive" alt="img" />
                                             </div>
                                             <div class="content">
                                                <h2>Eames Elephant</h2>
                                                <p>QTY: 1</p>
                                                <span>125.00 USD</span>
                                             </div>
                                             <div class="close-product">
                                                <span class="flaticon-close"></span>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="chechout-crt">
                                          <div class="totl">
                                             <span class="amt">Subtotaal</span>
                                             <span class="amt rig">225.00 USD</span>
                                          </div>
                                          <div class="view-cart btnn text-center">
                                             <button type="submit" class="btn">View Cart</button>
                                          </div>
                                          <div class="checkout btnn  text-center">
                                             <button type="submit" class="btn">Checkout</button>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- masthead end -->