<footer class="site-footer">
  <div class="text-center">
    <p>
      &copy; Copyrights <strong>CPrinting 2019</strong>. All Rights Reserved
    </p>
    <div class="credits">
      Designed By <a href="#">OkandejiSoft</a>
    </div>
    <a href="index.html#" class="go-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
</footer>