<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a href="#"><img src="" class="img-circle" width="80"></a></p>
      <h5 class="centered">Sam Soffes</h5>
      <li class="mt">
        <a class="active" href="/user/dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-cogs"></i>
          <span>Managements</span>
        </a>
        <ul class="sub">
          <li><a href="/admin/transaction">Transactions</a></li>
          <li><a href="/admin/user">Users</a></li>
          <li><a href="/product/product">Products</a></li>
          <li><a href="/category/category">Categories</a></li>
        </ul>
      </li>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>