<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a href="#"><img src="" class="img-circle" width="80"></a></p>
      <h5 class="centered">Sam Soffes</h5>
      <li class="mt">
        <a class="active" href="/user/dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-cogs"></i>
          <span>Managements</span>
        </a>
        <ul class="sub">
          <li><a href="#">Transactions</a></li>
          <li><a href="#">Users</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Categories</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-book"></i>
          <span>Extra Pages</span>
        </a>
        <ul class="sub">
          <li><a href="blank.html">Blank Page</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="lock_screen.html">Lock Screen</a></li>
          <li><a href="profile.html">Profile</a></li>
          <li><a href="invoice.html">Invoice</a></li>
          <li><a href="pricing_table.html">Pricing Table</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="404.html">404 Error</a></li>
          <li><a href="500.html">500 Error</a></li>
        </ul>
      </li>
      {{!-- <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-tasks"></i>
          <span>Forms</span>
        </a>
        <ul class="sub">
          <li><a href="form_component.html">Form Components</a></li>
          <li><a href="advanced_form_components.html">Advanced Components</a></li>
          <li><a href="form_validation.html">Form Validation</a></li>
          <li><a href="contactform.html">Contact Form</a></li>
        </ul>
      </li> --}}
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>