<section id="footer">
    <footer>
        <div class="row sm-footer">
            <div class="container clear-padding">
                <div class="col-md-3 col-sm-6 footer-about-box">
                    <h4>CPRINTING</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s.</p>
                    <a href="#">READ MORE</a>
                </div>
                <div class="col-md-3 col-sm-6 contact-box">
                    <h4>CONTACT US</h4>
                    <p><i class="fa fa-home"></i>Lagos</p>
                    <p><i class="fa fa-envelope-o"></i>okandeji2012@gmail.com</p>
                    <p><i class="fa fa-phone"></i> +2347087828631</p>
                    <p class="social-media">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </p>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6 footer-subscribe">
                    <h4>SUBSCRIBE</h4>
                    <p>Don't miss any deal. Subscribe to get offers alerts.</p>
                    <form>
                        <div class="col-md-10 col-sm-10 col-xs-9 clear-padding">
                            <input type="email" required class="form-control" placeholder="Enter Your Email">
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-3 clear-padding">
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row sm-footer-nav text-center">
            <p>
                <a href="#">HOME</a>
                <a href="#">PRODUCTS</a>
                <a href="#">SERVICE</a>
            </p>
            <p class="copyright">
                &copy; 2019 CPRINTING ALL RIGHTS RESERVED
            </p>
            <span class="text-white"> Designed by <a href="#">OkandejiSoft</a></span>
            <div class="go-up">
                <a href="#"><i class="fa fa-arrow-up"></i></a>
            </div>
        </div>
    </footer>
</section>