 <div class="banner-home-6">
               <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ban-zero-2">
                     <div class="rev_slider_wrapper">
                        <!-- the ID here will be used in the JavaScript below to initialize the slider -->
                        <div id="slider-6" class="rev_slider" data-version="5.4.5" style="display:none;">
                           <ul>
                              <!-- SLIDE  -->
                              <li data-index="rs-3009" data-transition="notransition" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide"  data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                 <!-- MAIN IMAGE -->
                                 <img src="image/main-slider/home-6-ban-main.jpg" alt="" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                                 <!-- LAYERS -->
                                 <!-- LAYER NR. 1 -->
                                 <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-3009-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;border-width:0px;"><img src="../../assets/images/level41.jpg" alt="" data-ww="1920px" data-hh="904px" width="1920" height="904" data-no-retina> </div>
                                 <!-- LAYER NR. 2 -->
                                 <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-3009-layer-2" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":750,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;border-width:0px;"><img src="../../assets/images/level32.png" alt="" data-ww="1920px" data-hh="904px" width="1920" height="904" data-no-retina> </div>
                                 <!-- LAYER NR. 3 -->
                                 <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-3009-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;border-width:0px;"><img src="../../assets/images/level2.png" alt="" data-ww="1920px" data-hh="904px" width="1920" height="904" data-no-retina> </div>
                                 <!-- LAYER NR. 4 -->
                                 <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" id="slide-3009-layer-4" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;border-width:0px;"><img src="../../assets/images/level1.png" alt="" data-ww="1920px" data-hh="904px" width="1920" height="904" data-no-retina> </div>
                                 <!-- LAYER NR. 5 -->
                                 <div class="tp-caption RedDot tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-2" id="slide-3009-layer-5" data-x="42" data-y="99"  data-type="shape" data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-3009-layer-6","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-3009-layer-6","delay":""},{"event":"mouseenter","action":"startlayer","layer":"slide-3009-layer-11","delay":"500"},{"event":"mouseleave","action":"stoplayer","layer":"slide-3009-layer-11","delay":""}]' data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1250,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;font-family:Arial;cursor:pointer;"> </div>
                                 <!-- LAYER NR. 6 -->
                                 <div class="tp-caption    tp-text rs-parallaxlevel-2" id="slide-3009-layer-6" data-x="120" data-y="102" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-lasttriggerstate="reset" style="z-index: 10; white-space: nowrap; font-size: 20px; line-height: 20px; font-weight: 500; color: rgba(0, 0, 0, 1.00);"> A Danish design icon<br> for the living room <br>or lounge area.</div>
                                 <!-- LAYER NR. 7 -->
                                 <div class="tp-caption RedDot tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-3" id="slide-3009-layer-7" data-x="415" data-y="300"  data-type="shape" data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-3009-layer-8","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-3009-layer-8","delay":""},{"event":"mouseenter","action":"startlayer","layer":"slide-3009-layer-12","delay":"500"},{"event":"mouseleave","action":"stoplayer","layer":"slide-3009-layer-12","delay":""}]' data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1250,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;font-family:Arial;cursor:pointer;"> </div>
                                 <!-- LAYER NR. 8 -->
                                 <div class="tp-caption    tp-text rs-parallaxlevel-3" id="slide-3009-layer-8" data-x="500" data-y="300" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"x:[-100%];","mask":"x:inherit;y:inherit;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-lasttriggerstate="reset" style="z-index: 12; max-width: 20px; max-width: 20px; white-space: nowrap; font-size: 20px; line-height: 20px; font-weight: 500; color: rgba(0, 0, 0, 1.00);">  A Danish design icon<br> for the living room <br>or lounge area.</div>
                                 <!-- LAYER NR. 9 -->
                                 <div class="tp-caption RedDot tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-4" id="slide-3009-layer-9" data-x="600" data-y="600"  data-type="shape" data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-3009-layer-10","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-3009-layer-8","delay":""},{"event":"mouseenter","action":"startlayer","layer":"slide-3009-layer-10","delay":"500"},{"event":"mouseleave","action":"stoplayer","layer":"slide-3009-layer-10","delay":""}]' data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1250,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;font-family:Arial;cursor:pointer;"> </div>
                                 <!-- LAYER NR. 10 -->
                                 <div class="tp-caption    tp-text rs-parallaxlevel-4" id="slide-3009-layer-10" data-x="330" data-y="600" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-lasttriggerstate="reset" style="z-index: 14; max-width: 20px; max-width: 20px; white-space: nowrap; font-size: 20px; line-height: 20px; font-weight: 500; color: rgba(0, 0, 0, 1.00);"> A Danish design icon<br> for the living room <br>or lounge area.</div>
                              </li>
                           </ul>
                           <!-- END SLIDES LIST -->
                        </div>
                        <!-- END SLIDER CONTAINER -->
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ban-zero">
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ban-zero-1">
                        <div class="h6-banner-outer first">
                           <img src="image/main-slider/home-6-ban-4.jpg" class="img-responsive" alt="img" />
                           <div class="hero">
                              <ul>
                                 <li>2499</li>
                                 <li>USD</li>
                              </ul>
                           </div>
                           <div class="overlay">
                              <div class="text">
                                 <div class="card-footer d-flex justify-content-end">
                                    <button type="submit" class="hub-cart phub-cart btn add-to-cart">
                                    <span class="flaticon-cart"></span>
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ban-zero-1">
                        <div class="h6-banner-outer first">
                           <img src="image/main-slider/home-6-ban-3.jpg" class="img-responsive" alt="img" />
                           <div class="hero">
                              <ul>
                                 <li>2499</li>
                                 <li>USD</li>
                              </ul>
                           </div>
                           <div class="overlay">
                              <div class="text">
                                 <div class="card-footer d-flex justify-content-end">
                                    <button type="submit" class="hub-cart phub-cart btn add-to-cart">
                                    <span class="flaticon-cart"></span>
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ban-zero-1">
                        <div class="h6-banner-outer">
                           <img src="image/main-slider/home-6-ban-2.jpg" class="img-responsive" alt="img" />
                           <div class="hero">
                              <ul>
                                 <li>2499</li>
                                 <li>USD</li>
                              </ul>
                           </div>
                           <div class="overlay">
                              <div class="text">
                                 <div class="card-footer d-flex justify-content-end">
                                    <button type="submit" class="hub-cart phub-cart btn add-to-cart">
                                    <span class="flaticon-cart"></span>
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ban-zero-1">
                        <div class="h6-banner-outer">
                           <img src="image/main-slider/home-6-ban-1.jpg" class="img-responsive" alt="img" />
                           <div class="hero">
                              <ul>
                                 <li>2499</li>
                                 <li>USD</li>
                              </ul>
                           </div>
                           <div class="overlay">
                              <div class="text">
                                 <div class="card-footer d-flex justify-content-end">
                                    <button type="submit" class="hub-cart phub-cart btn add-to-cart">
                                    <span class="flaticon-cart"></span>
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- END SLIDER CONTAINER WRAPPER -->
            <!----todays-deal---->
            <div class="today-deal">
               <div class="container">
                  <div class="row">
                     <div class="heading">
                        <h1>New Arrivals</h1>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                        <div class="td-deal-inner">
                           <div class="image">
                              <img src="image/home-page-1/td-1.jpg" class="img-responsive" alt="img" width="190" height="190" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="td-deal-content">
                              <h2><a href="#">AJ Royal Lamp</a></h2>
                              <p>89.99 USD</p>
                              <ul>
                                 <li><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> (Based on 5 reviews)</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="td-deal-inner">
                           <div class="image">
                              <img src="image/home-page-1/td-2.jpg" class="img-responsive" alt="img" width="190" height="190" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="td-deal-content">
                              <h2><a href="#">PH50 Pendant Lamp</a></h2>
                              <p>89.99 USD</p>
                              <ul>
                                 <li><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> (Based on 5 reviews)</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="td-deal-inner">
                           <div class="image">
                              <img src="image/home-page-1/td-3.jpg" class="img-responsive" alt="img" width="190" height="190" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="td-deal-content">
                              <h2><a href="#">The Egg Chair</a></h2>
                              <p>89.99 USD</p>
                              <ul>
                                 <li><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> (Based on 5 reviews)</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="td-deal-inner">
                           <div class="image">
                              <img src="image/home-page-1/td-4.jpg" class="img-responsive" alt="img" width="190" height="190" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="td-deal-content">
                              <h2><a href="#">LCW Chair</a></h2>
                              <p>89.99 USD</p>
                              <ul>
                                 <li><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> (Based on 5 reviews)</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="td-deal-inner">
                           <div class="image">
                              <img src="image/home-page-1/td-5.jpg" class="img-responsive" alt="img" width="190" height="190" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="td-deal-content">
                              <h2><a href="#">Eames Table for Kids</a></h2>
                              <p>89.99 USD</p>
                              <ul>
                                 <li><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> (Based on 5 reviews)</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="td-deal-inner">
                           <div class="image">
                              <img src="image/home-page-1/td-6.jpg" class="img-responsive" alt="img" width="190" height="190" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="td-deal-content">
                              <h2><a href="#">PH51 Pendant Lamp</a></h2>
                              <p>89.99 USD</p>
                              <ul>
                                 <li><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> (Based on 5 reviews)</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="td-deal-inner">
                           <div class="image">
                              <img src="image/home-page-1/td-7.jpg" class="img-responsive" alt="img" width="190" height="190" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="td-deal-content">
                              <h2><a href="#">Eames Elephant</a></h2>
                              <p>89.99 USD</p>
                              <ul>
                                 <li><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> (Based on 5 reviews)</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="td-deal-inner">
                           <div class="image">
                              <img src="image/home-page-1/td-8.jpg" class="img-responsive" alt="img" width="190" height="190" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="td-deal-content">
                              <h2><a href="#">Topan VP6 Pendant tLamp</a></h2>
                              <p>89.99 USD</p>
                              <ul>
                                 <li><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> (Based on 5 reviews)</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="td-deal-inner">
                           <div class="image">
                              <img src="image/home-page-1/td-9.jpg" class="img-responsive" alt="img" width="190" height="190" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="td-deal-content">
                              <h2><a href="#">Verner Panthella Table Lamp</a></h2>
                              <p>89.99 USD</p>
                              <ul>
                                 <li><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> (Based on 5 reviews)</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="rev_slider_wrapper ">
               <!-- the ID here will be used in the JavaScript below to initialize the slider -->
               <div id="slider-6-1" class="rev_slider" data-version="5.4.5" style="display:none;">
                  <ul>
                     <!-- SLIDE  -->
                     <li data-index="rs-3019" data-transition="fadetorightfadefromleft" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="image/main-slider/home-6-center-ban-op.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="01" data-param2="/" data-param3="03" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="image/main-slider/home-6-center-ban-2.jpg" alt="" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-3019-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;border-width:0px;"><img src="../../assets/images/level41.jpg" alt="" data-ww="1920px" data-hh="904px" width="1920" height="904" data-no-retina> </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-3019-layer-2" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":750,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;border-width:0px;"> </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-3019-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;border-width:0px;"> </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" id="slide-3019-layer-4" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;border-width:0px;"> </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption RedDot tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-2" id="slide-3019-layer-5" data-x="42" data-y="99"  data-type="shape" data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-3019-layer-6","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-3019-layer-6","delay":""},{"event":"mouseenter","action":"startlayer","layer":"slide-3019-layer-11","delay":"500"},{"event":"mouseleave","action":"stoplayer","layer":"slide-3019-layer-11","delay":""}]' data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1250,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;font-family:Arial;cursor:pointer;"> </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption    tp-text rs-parallaxlevel-2" id="slide-3019-layer-6" data-x="120" data-y="102" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-lasttriggerstate="reset" style="z-index: 10; white-space: nowrap; font-size: 20px; line-height: 20px; font-weight: 500; color: rgba(0, 0, 0, 1.00);"> A Danish design icon<br> for the living room <br>or lounge area.</div>
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption RedDot tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-3" id="slide-3019-layer-7" data-x="415" data-y="300"  data-type="shape" data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-3019-layer-8","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-3019-layer-8","delay":""},{"event":"mouseenter","action":"startlayer","layer":"slide-3009-layer-12","delay":"500"},{"event":"mouseleave","action":"stoplayer","layer":"slide-3019-layer-12","delay":""}]' data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1250,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;font-family:Arial;cursor:pointer;"> </div>
                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption    tp-text rs-parallaxlevel-3" id="slide-3019-layer-8" data-x="500" data-y="300" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"x:[-100%];","mask":"x:inherit;y:inherit;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-lasttriggerstate="reset" style="z-index: 12; max-width: 20px; max-width: 20px; white-space: nowrap; font-size: 20px; line-height: 20px; font-weight: 500; color: rgba(0, 0, 0, 1.00);">  A Danish design icon<br> for the living room <br>or lounge area.</div>
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption RedDot tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-4" id="slide-3019-layer-9" data-x="1014" data-y="200"   data-type="shape" data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-3019-layer-10","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-3019-layer-10","delay":""}]' data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1250,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;font-family:Arial;cursor:pointer;"> </div>
                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption    tp-text rs-parallaxlevel-4" id="slide-3019-layer-10" data-x="800" data-y="200" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-lasttriggerstate="reset" style="z-index: 14; max-width: 20px; max-width: 20px; white-space: nowrap; font-size: 20px; line-height: 20px; font-weight: 500; color: rgba(0, 0, 0, 1.00);"> A Danish design icon<br> for the living room <br>or lounge area.</div>
                     </li>
                     <li data-index="rs-3020" data-transition="fadetorightfadefromleft" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="image/main-slider/home-6-center-ban-op.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="01" data-param2="/" data-param3="03" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="image/main-slider/home-6-center-ban-1.jpg" alt="" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-3020-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;border-width:0px;"><img src="../../assets/images/level41.jpg" alt="" data-ww="1920px" data-hh="904px" width="1920" height="904" data-no-retina> </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-3020-layer-2" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":750,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;border-width:0px;"> </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-3020-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;border-width:0px;"> </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" id="slide-3020-layer-4" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;border-width:0px;"> </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption RedDot tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-2" id="slide-3020-layer-5" data-x="42" data-y="99"  data-type="shape" data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-3020-layer-6","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-3020-layer-6","delay":""},{"event":"mouseenter","action":"startlayer","layer":"slide-3020-layer-11","delay":"500"},{"event":"mouseleave","action":"stoplayer","layer":"slide-3020-layer-11","delay":""}]' data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1250,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;font-family:Arial;cursor:pointer;"> </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption    tp-text rs-parallaxlevel-2" id="slide-3020-layer-6" data-x="120" data-y="102" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-lasttriggerstate="reset" style="z-index: 10; white-space: nowrap; font-size: 20px; line-height: 20px; font-weight: 500; color: rgba(0, 0, 0, 1.00);"> A Danish design icon<br> for the living room <br>or lounge area.</div>
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption RedDot tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-3" id="slide-3020-layer-7" data-x="415" data-y="300"  data-type="shape" data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-3020-layer-8","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-3020-layer-8","delay":""},{"event":"mouseenter","action":"startlayer","layer":"slide-3020-layer-12","delay":"500"},{"event":"mouseleave","action":"stoplayer","layer":"slide-3020-layer-12","delay":""}]' data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1250,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;font-family:Arial;cursor:pointer;"> </div>
                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption    tp-text rs-parallaxlevel-3" id="slide-3020-layer-8" data-x="500" data-y="300" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1000,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"x:[-100%];","mask":"x:inherit;y:inherit;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-lasttriggerstate="reset" style="z-index: 12; max-width: 20px; max-width: 20px; white-space: nowrap; font-size: 20px; line-height: 20px; font-weight: 500; color: rgba(0, 0, 0, 1.00);">  A Danish design icon<br> for the living room <br>or lounge area.</div>
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption RedDot tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-4" id="slide-3020-layer-9" data-x="1014" data-y="200"   data-type="shape" data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-3020-layer-10","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-3020-layer-10","delay":""}]' data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1250,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;font-family:Arial;cursor:pointer;"> </div>
                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption    tp-text rs-parallaxlevel-4" id="slide-3020-layer-10" data-x="800" data-y="200" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-lasttriggerstate="reset" style="z-index: 14; max-width: 20px; max-width: 20px; white-space: nowrap; font-size: 20px; line-height: 20px; font-weight: 500; color: rgba(0, 0, 0, 1.00);"> A Danish design icon<br> for the living room <br>or lounge area.</div>
                     </li>
                  </ul>
                  <!-- END SLIDES LIST -->
               </div>
               <!-- END SLIDER CONTAINER -->
            </div>
            <!-----daily-deals---->
            <div class="daily-deal h6-home">
               <div class="container">
                  <div class="row">
                     <div class="heading text-center">
                        <h1>Daily Deals!</h1>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">
                        <div class="deal-hurryup text-center">
                           <h2>Hurry up!</h2>
                           <p class="para">Offer ends in:</p>
                           <ul class="countdown text-center" id="js-countdown">
                              <li class="countdown__item countdown__item--large">
                                 <div class="countdown__timer js-countdown-days" aria-labelledby="day-countdown">
                                 </div>
                                 <div class="countdown__label" id="day-countdown">Days</div>
                              </li>
                              <li class="countdown__item">
                                 <div class="countdown__timer js-countdown-hours" aria-labelledby="hour-countdown">
                                 </div>
                                 <div class="countdown__label" id="hour-countdown">Hours</div>
                              </li>
                              <li class="countdown__item">
                                 <div class="countdown__timer js-countdown-minutes" aria-labelledby="minute-countdown">
                                 </div>
                                 <div class="countdown__label" id="minute-countdown">Minutes</div>
                              </li>
                              <li class="countdown__item">
                                 <div class="countdown__timer js-countdown-seconds" aria-labelledby="second-countdown">
                                 </div>
                                 <div class="countdown__label" id="second-countdown">Seconds</div>
                              </li>
                           </ul>
                        </div>
                        <div class="deal-product">
                           <div class="img-in">
                              <img src="image/home-page-2/daily-deal-left.jpg" class="img-responsive" alt="img" />
                           </div>
                           <div class="content-in">
                              <h2><a href="#">Eames DSW Chair</a></h2>
                              <p> <span>1,899</span> 55.99 USD</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                           <div class="product-grid">
                              <div class="product-image">
                                 <a href="#">
                                 <img class="pic-1 img-responsive" src="image/home-page-2/d-e-p-1.png" alt="img"  />
                                 </a>
                                 <span class="product-discount-label">hot </span>
                              </div>
                              <h3 class="product-title"><a href="#">LCW Chair</a></h3>
                              <div class="price">179.95 USD
                              </div>
                              <div class="product-content">
                                 <img class="pic-2 img-responsive" src="image/home-page-2/d-e-p-1.png" alt="img"  />
                                 <button type="button" class="btn btn-primary product-view-icon" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i></button>
                                 <h3 class="product-title"><a href="#">LCW Chair</a></h3>
                                 <div class="price">179.95 USD
                                 </div>
                                 <div class="product-links">
                                    <div class="card-footer d-flex justify-content-end">
                                       <button type="submit" class="hub-cart phub-cart btn add-to-cart">
                                       ADD TO CART
                                       </button>
                                    </div>
                                    <ul>
                                       <li class="pull-left"><a href="" class="product-like-icon"><i class="flaticon-heart"></i></a></li>
                                       <li class="pull-right"><a href="" class="product-compare-icon"><i class="flaticon-right"></i></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="product-grid">
                              <div class="product-image">
                                 <a href="#">
                                 <img class="pic-1 img-responsive" src="image/home-page-2/d-e-p-4.png" alt="img"  />
                                 </a>
                                 <span class="product-discount-label">sale</span>
                              </div>
                              <h3 class="product-title"><a href="#">Eamas Elephant</a></h3>
                              <div class="price">179.95 USD
                              </div>
                              <div class="product-content">
                                 <img class="pic-2 img-responsive" src="image/home-page-2/d-e-p-4.png" alt="img"  />
                                 <button type="button" class="btn btn-primary product-view-icon" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i></button>
                                 <h3 class="product-title"><a href="#">Eamas Elephant</a></h3>
                                 <div class="price">179.95 USD
                                 </div>
                                 <div class="product-links">
                                    <div class="card-footer d-flex justify-content-end">
                                       <button type="submit" class="hub-cart phub-cart btn add-to-cart">
                                       ADD TO CART
                                       </button>
                                    </div>
                                    <ul>
                                       <li class="pull-left"><a href="" class="product-like-icon"><i class="flaticon-heart"></i></a></li>
                                       <li class="pull-right"><a href="" class="product-compare-icon"><i class="flaticon-right"></i></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                           <div class="product-grid">
                              <div class="product-image">
                                 <a href="#">
                                 <img class="pic-1 img-responsive" src="image/home-page-2/d-e-p-2.png" alt="img"  />
                                 </a>
                                 <span class="product-discount-label">sale</span>
                              </div>
                              <h3 class="product-title"><a href="#">Eames Table for Kids</a></h3>
                              <div class="price">179.95 USD
                              </div>
                              <div class="product-content">
                                 <img class="pic-2 img-responsive" src="image/home-page-2/d-e-p-2.png" alt="img"  />
                                 <button type="button" class="btn btn-primary product-view-icon" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i></button>
                                 <h3 class="product-title"><a href="#">Eames Table for Kids</a></h3>
                                 <div class="price">179.95 USD
                                 </div>
                                 <div class="product-links">
                                    <div class="card-footer d-flex justify-content-end">
                                       <button type="submit" class="hub-cart phub-cart btn add-to-cart">
                                       ADD TO CART
                                       </button>
                                    </div>
                                    <ul>
                                       <li class="pull-left"><a href="" class="product-like-icon"><i class="flaticon-heart"></i></a></li>
                                       <li class="pull-right"><a href="" class="product-compare-icon"><i class="flaticon-right"></i></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="product-grid">
                              <div class="product-image">
                                 <a href="#">
                                 <img class="pic-1 img-responsive" src="image/home-page-2/d-e-p-5.png" alt="img"  />
                                 </a>
                                 <span class="product-discount-label">hot </span>
                              </div>
                              <h3 class="product-title"><a href="#">Topan VP6 Paendant Lamp</a></h3>
                              <div class="price">179.95 USD
                              </div>
                              <div class="product-content">
                                 <img class="pic-2 img-responsive" src="image/home-page-2/d-e-p-5.png" alt="img"  />
                                 <button type="button" class="btn btn-primary product-view-icon" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i></button>
                                 <h3 class="product-title"><a href="#">Topan VP6 Paendant Lamp</a></h3>
                                 <div class="price">179.95 USD
                                 </div>
                                 <div class="product-links">
                                    <div class="card-footer d-flex justify-content-end">
                                       <button type="submit" class="hub-cart phub-cart btn add-to-cart">
                                       ADD TO CART
                                       </button>
                                    </div>
                                    <ul>
                                       <li class="pull-left"><a href="" class="product-like-icon"><i class="flaticon-heart"></i></a></li>
                                       <li class="pull-right"><a href="" class="product-compare-icon"><i class="flaticon-right"></i></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                           <div class="product-grid">
                              <div class="product-image">
                                 <a href="#">
                                 <img class="pic-1 in img-responsive" src="image/home-page-2/d-e-p-3.png" alt="img"  />
                                 </a>
                                 <span class="product-discount-label">sale</span>
                              </div>
                              <h3 class="product-title"><a href="#">PH50 Pendant Lamp</a></h3>
                              <div class="price">179.95 USD
                              </div>
                              <div class="product-content">
                                 <img class="pic-2 in img-responsive" src="image/home-page-2/d-e-p-3.png" alt="img"  />
                                 <button type="button" class="btn btn-primary product-view-icon" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i></button>
                                 <h3 class="product-title"><a href="#">PH50 Pendant Lamp</a></h3>
                                 <div class="price">179.95 USD
                                 </div>
                                 <div class="product-links">
                                    <div class="card-footer d-flex justify-content-end">
                                       <button type="submit" class="hub-cart phub-cart btn add-to-cart">
                                       ADD TO CART
                                       </button>
                                    </div>
                                    <ul>
                                       <li class="pull-left"><a href="" class="product-like-icon"><i class="flaticon-heart"></i></a></li>
                                       <li class="pull-right"><a href="" class="product-compare-icon"><i class="flaticon-right"></i></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="product-grid item">
                              <div class="product-image">
                                 <a href="#">
                                 <img class="pic-1 img-responsive " src="image/home-page-2/d-e-p-6.png" alt="img" />
                                 </a>
                                 <span class="product-discount-label">hot </span>
                              </div>
                              <h3 class="product-title"><a href="#">Verner Panthella Table Lamp</a></h3>
                              <div class="price">179.95 USD
                                 <span>$16.00</span>
                              </div>
                              <div class="product-content">
                                 <img class="pic-2 img-responsive" src="image/home-page-2/d-e-p-6.png" alt="img"  />
                                 <button type="button" class="btn btn-primary product-view-icon" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i></button>
                                 <h3 class="product-title"><a href="#">Verner Panthella Table Lamp</a></h3>
                                 <div class="price">179.95 USD
                                    <span>$16.00</span>
                                 </div>
                                 <div class="product-links">
                                    <div class="card-footer d-flex justify-content-end">
                                       <button type="submit" class="hub-cart phub-cart btn add-to-cart">
                                       ADD TO CART
                                       </button>
                                    </div>
                                    <ul>
                                       <li class="pull-left"><a href="" class="product-like-icon"><i class="flaticon-heart"></i></a></li>
                                       <li class="pull-right"><a href="" class="product-compare-icon"><i class="flaticon-right"></i></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
              <!-----------discover-now---->
            <div class="discover-now-outer six-home">
            	<div class="container">
                	<div class="row">
                    	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        	<div class="discover-now-inner">
                            	<h1>A beautiful design, made identical to the original</h1>
                                <a href="#">Discover now</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="image">
                           <img src="image/home-page-2/bt-sec.png" class="img-responsive" alt="img" width="732" height="620" />
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-----Recent Posts----->
            <div class="rectent-post">
               <div class="container">
                  <div class="row">
                     <div class="heading">
                        <h1>Recent Posts</h1>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="post-inner">
                           <div class="image">
                              <img src="image/home-page-2/recent-post-1.jpg" class="img-responsive" alt="img" width="570" height="370" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="hero">clothing</div>
                           <div class="post-content">
                              <ul>
                                 <li><span>by</span> Igor Ten </li>
                                 <li> April 28, 2018</li>
                              </ul>
                              <h2><a href="#">My Bedside Table: The Fashion Designer</a></h2>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="post-inner">
                           <div class="image">
                              <img src="image/home-page-2/recent-post-2.jpg" class="img-responsive" alt="img" width="570" height="370" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="hero">design</div>
                           <div class="post-content">
                              <ul>
                                 <li><span>by</span> Igor Ten </li>
                                 <li> April 28, 2018</li>
                              </ul>
                              <h2><a href="#">Shining a New Light on Marsha P. Jonson</a></h2>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="post-inner">
                           <div class="image">
                              <img src="image/home-page-2/recent-post-3.jpg" class="img-responsive" alt="img" width="570" height="370" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="hero">minimal</div>
                           <div class="post-content">
                              <ul>
                                 <li><span>by</span> Igor Ten </li>
                                 <li> April 28, 2018</li>
                              </ul>
                              <h2><a href="#">Home Tour: Cleo & McShane Murnane </a></h2>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="post-inner">
                           <div class="image">
                              <img src="image/home-page-2/recent-post-4.jpg" class="img-responsive" alt="img" width="570" height="370" />
                              <a href="#" class="link"></a>
                           </div>
                           <div class="hero">minimal</div>
                           <div class="post-content">
                              <ul>
                                 <li><span>by</span> Igor Ten </li>
                                 <li> April 28, 2018</li>
                              </ul>
                              <h2><a href="#">Home Tour: Cleo & McShane Murnane </a></h2>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!----updates---->
            <div class="updates">
               <div class="container">
                  <div class="row">
                     <div class="owl-carousel owl-theme updates-in">
                        <div class="item up">
                           <div class="img">
                              <img src="image/common-image/up-1.jpg" class="img-responsive" alt="img" width="274" height="274" />
                              <div class="overlay">
                                 <div class="text">
                                    <img src="image/common-image/up-logo.png" class="img-responsive" alt="lo" width="143" height="38" />
                                    <p> #bazutheme</p>
                                    <span>Follow us</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="item up">
                           <div class="img">
                              <img src="image/common-image/up-2.jpg" class="img-responsive" alt="img" width="274" height="274" />
                              <div class="overlay">
                                 <div class="text">
                                    <img src="image/common-image/up-logo.png" class="img-responsive" alt="lo" width="143" height="38" />
                                    <p> #bazutheme</p>
                                    <span>Follow us</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="item up">
                           <div class="img">
                              <img src="image/common-image/up-3.jpg" class="img-responsive" alt="img" width="274" height="274" />
                              <div class="overlay">
                                 <div class="text">
                                    <img src="image/common-image/up-logo.png" class="img-responsive" alt="lo" width="143" height="38" />
                                    <p> #bazutheme</p>
                                    <span>Follow us</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="item up">
                           <div class="img">
                              <img src="image/common-image/up-4.jpg" class="img-responsive" alt="img" width="274" height="274" />
                              <div class="overlay">
                                 <div class="text">
                                    <img src="image/common-image/up-logo.png" class="img-responsive" alt="lo" width="143" height="38" />
                                    <p> #bazutheme</p>
                                    <span>Follow us</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="item up">
                           <div class="img">
                              <img src="image/common-image/up-5.jpg" class="img-responsive" alt="img" width="274" height="274" />
                              <div class="overlay">
                                 <div class="text">
                                    <img src="image/common-image/up-logo.png" class="img-responsive" alt="lo" width="143" height="38" />
                                    <p> #bazutheme</p>
                                    <span>Follow us</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="item up">
                           <div class="img">
                              <img src="image/common-image/up-6.jpg" class="img-responsive" alt="img" width="274" height="274" />
                              <div class="overlay">
                                 <div class="text">
                                    <img src="image/common-image/up-logo.png" class="img-responsive" alt="lo" width="143" height="38" />
                                    <p> #bazutheme</p>
                                    <span>Follow us</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="item up">
                           <div class="img">
                              <img src="image/common-image/up-1.jpg" class="img-responsive" alt="img" width="274" height="274" />
                              <div class="overlay">
                                 <div class="text">
                                    <img src="image/common-image/up-logo.png" class="img-responsive" alt="lo" width="143" height="38" />
                                    <p> #bazutheme</p>
                                    <span>Follow us</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="item up">
                           <div class="img">
                              <img src="image/common-image/up-2.jpg" class="img-responsive" alt="img" width="274" height="274" />
                              <div class="overlay">
                                 <div class="text">
                                    <img src="image/common-image/up-logo.png" class="img-responsive" alt="lo" width="143" height="38" />
                                    <p> #bazutheme</p>
                                    <span>Follow us</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="item up">
                           <div class="img">
                              <img src="image/common-image/up-3.jpg" class="img-responsive" alt="img" width="274" height="274" />
                              <div class="overlay">
                                 <div class="text">
                                    <img src="image/common-image/up-logo.png" class="img-responsive" alt="lo" width="143" height="38" />
                                    <p> #bazutheme</p>
                                    <span>Follow us</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!---latest-news---->
            <div class="latest-news-sinup">
               <div class="container">
                  <div class="row">
                     <div class="signup-inner text-center">
                        <h1>Sign up for latest news <span> & </span> updates on products</h1>
                        <form action="index.html">
                           <input type="text" placeholder="Enter your email address" name="email" />
                           <button class="btn btn-default" type="submit">Subscribe</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
           